@model My_Journal.Miembro

@{
    ViewData["Title"] = "Editar Registro";
}


<link href="/theme-assets/css/app-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap-extended.css" rel="stylesheet" />
<link href="/theme-assets/css/colors.css" rel="stylesheet" />
<link href="/theme-assets/css/components-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/core/colors/palette-gradient.css" rel="stylesheet" />
<link href="/theme-assets/css/pages/dashboard-ecommerce.css" rel="stylesheet" />
<link href="/theme-assets/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" />
<link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="theme-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/60f66db414.js" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMiembro" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaBautismo" class="control-label"></label>
                <input asp-for="FechaBautismo" class="form-control" />
                <span asp-validation-for="FechaBautismo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreacion" class="control-label"></label>
                <select asp-for="UsuarioCreacion" class="form-control" asp-items="ViewBag.UsuarioCreacion"></select>
                <span asp-validation-for="UsuarioCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioModifica" class="control-label"></label>
                <input asp-for="UsuarioModifica" class="form-control" />
                <span asp-validation-for="UsuarioModifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModifica" class="control-label"></label>
                <input asp-for="FechaModifica" class="form-control" />
                <span asp-validation-for="FechaModifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
