.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background: #2a8358;
    float: right;
    color: white;
}

.container {
    margin-bottom: 20px;
}

.fa {
    font-size: 1.5em;
}
