
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code.">
    <meta name="keywords" content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Data Table CSS -->
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>

    <link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="theme-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="theme-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="theme-assets/vendors/css/charts/chartist.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN CHAMELEON  CSS-->
    <link rel="stylesheet" type="text/css" href="theme-assets/css/app-lite.css">
    <!-- END CHAMELEON  CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="theme-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="theme-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="theme-assets/css/pages/dashboard-ecommerce.css">
    <script src="https://kit.fontawesome.com/60f66db414.js" crossorigin="anonymous"></script>
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="collapse navbar-collapse show" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-block d-md-none"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item dropdown navbar-search">
                            <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#"><i class="ficon ft-search"></i></a>
                            <ul class="dropdown-menu">
                                <li class="arrow_box">
                                    <form>
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <input class="form-control" id="search" type="text" placeholder="Search here...">
                                                <div class="form-control-position navbar-search-close"><i class="ft-x">   </i></div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    @*                     <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-language nav-item">
                    <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                    <div class="arrow_box"><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-us"></i> Englis</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> Chinese</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-ru"></i> Russian</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i> Spanish</a></div>
                    </div>
                    </li>
                    </ul> *@
                    <ul class="nav navbar-nav float-right">
                        @*                       <li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail">             </i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                        <div class="arrow_box_right"><a class="dropdown-item" href="#"><i class="ft-book"></i> Read Mail</a><a class="dropdown-item" href="#"><i class="ft-bookmark"></i> Read Later</a><a class="dropdown-item" href="#"><i class="ft-check-square"></i> Mark all Read       </a></div>
                        </div>
                        </li> *@
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">             <span class="avatar avatar-online"><img src="theme-assets/images/portrait/small/user.png" alt="avatar"><i></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="arrow_box_right">
                                    <a class="dropdown-item" href="#"><span class="avatar avatar-online"><img src="theme-assets/images/portrait/small/user.png" alt="avatar"><span class="user-name text-bold-700 ml-1">Usuario 1</span></span></a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa-solid fa-key"></i> Change Password</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" asp-controller="Logout" asp-action="Index"><i class="ft-power"></i> Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="theme-assets/images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img class="brand-logo" alt="My Journal admin logo" src="/theme-assets/images/logo/logojournal.png" />
                        <h3 class="brand-text">My Journal</h3>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="active">
                    <a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house-chimney"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
                </li>
                <li class="nav-item has-sub">
                    <a href="#"><i class="fa-solid fa-shield-halved"></i><span class="menu-title" data-i18n="">Seguridad</span></a>
                    <ul class="menu-content" style="">

                        <li class="is-shown">
                            <a asp-controller="Usuarios" asp-action="index" class="menu-item" >Usuarios</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub ">
                    <a href="#"><i class="fa-solid fa-book-open"></i><span class="menu-title" data-i18n="">Catálogos</span></a>
                    <ul class="menu-content" style="">

                        <li class="is-shown">
                            <a class="menu-item" asp-controller="OfrendasCategorias" asp-action="index">Ofrendas</a>
                        </li>

                        <li class="is-shown">
                            <a class="menu-item" asp-controller="EgresosVarios" asp-action="index">Egresos Varios</a>
                        </li>
                        <li class="is-shown">
                            <a class="menu-item" asp-controller="IngresosVarios" asp-action="index">Ingresos Varios</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub">
                    <a href="#"><i class="fa-solid fa-money-bills"></i><span class="menu-title" data-i18n="">Ingresos</span></a>
                    <ul class="menu-content" style="">

                        <li class="is-shown">
                            <a class="menu-item" asp-controller="Ofrendas" asp-action="index">Ofrendas</a>
                        </li>
                        
                        <li class="is-shown">
                            <a class="menu-item" asp-controller="Diezmoes" asp-action="index">Diezmos</a>
                        </li>
                        <li class="is-shown">
                            <a class="menu-item" asp-controller="IngresosVarios" asp-action="index">Ingresos Varios</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub ">
                    <a href="#"><i class="fa-solid fa-money-bill-transfer"></i><span class="menu-title" data-i18n="">Egresos</span></a>
                    <ul class="menu-content" style="">

                        <li class="is-shown">
                            <a class="menu-item" asp-controller="Pagoes" asp-action="index">Pagos Básicos</a>
                        </li>
                        <li class="is-shown">
                            <a class="menu-item" asp-controller="EgresosVarios" asp-action="index">Egresos Varios</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a asp-controller="TotalEgresoes" asp-action="index"><i class="fa-solid fa-chart-column"></i><span class="menu-title" data-i18n="">Total Egresos</span></a>
                </li>
                <li class=" nav-item">
                    <a asp-controller="Totals" asp-action="index"><i class="fa-solid fa-wallet"></i><span class="menu-title" data-i18n="">Saldo Total</span></a>
                </li>
                <li class=" nav-item">
                    <a asp-controller="Miembroes" asp-action="index"><i class="fa-solid fa-users"></i><span class="menu-title" data-i18n="">Miembros</span></a>
                </li>
            </ul>
        </div><a href="https://themeselection.com/products/chameleon-admin-modern-bootstrap-webapp-dashboard-html-template-ui-kit/" target="_blank"></a>
        <div class="navigation-background"></div>
    </div>

    <div class="app-content content">
        <div class="content-wrapper">
            <div style="background:#9971bc;" class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title"></h3>
                </div>
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="breadcrumb-item active">

                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Line Awesome section start -->
                <section id="line-awesome-icons">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Usuario 1</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <main role="main" class="pb-3">
                                                <h1>@ViewBag.Title</h1>
                                                @RenderBody()
                                            </main>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Line Awesome section end -->
            </div>
        </div>
    </div>

    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">2024 Project Rebuilding</a></span>
            <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
                <li class="list-inline-item"><a class="my-1" href="" target="_blank"> My Journal</a></li>

            </ul>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
<!-- Script JS -->


    <!-- BEGIN VENDOR JS-->
    <script src="theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="theme-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CHAMELEON  JS-->
    <script src="theme-assets/js/core/app-menu-lite.js" type="text/javascript"></script>
    <script src="theme-assets/js/core/app-lite.js" type="text/javascript"></script>
    <!-- END CHAMELEON  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
</body>
</html>