@model My_Journal.Usuario
@{
    ViewData["Title"] = "Crear Usuario";
}
@*#696cff*@


<link href="/theme-assets/css/app-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap-extended.css" rel="stylesheet" />
<link href="/theme-assets/css/colors.css" rel="stylesheet" />
<link href="/theme-assets/css/components-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/core/colors/palette-gradient.css" rel="stylesheet" />
<link href="/theme-assets/css/pages/dashboard-ecommerce.css" rel="stylesheet" />
<link href="/theme-assets/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" />
<link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="theme-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/60f66db414.js" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="/theme-assets/css/create_style.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


<form class="form" asp-action="Create">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-lg-5">
                <label>Nombres</label>
                <input asp-for="Nombres" type="text" class="form-control" placeholder="Ingrese sus nombres" />
            </div>
            <div class="col-lg-5">
                <label>Apellidos</label>
                <input asp-for="Apellidos" type="text" class="form-control" placeholder="Ingrese sus apellidos" />
            </div>
            <div class="col-lg-6">
                <label>Dirección</label>
                <div class="input-group">
                    <input asp-for="Direccion" type="text" class="form-control" placeholder="Ingrese su dirección" />
                    <div class="input-group-append"><span class="input-group-text"><i class="la la-map-marker"></i></span></div>
                </div>
            </div>
            <div class="col-lg-5">
                <label>Teléfono</label>
                <div class="input-group">
                    <input asp-for="Telefono" type="tel" class="form-control" placeholder="Provea un número de contacto" />
                    <div class="input-group-append"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-4">
                <label>Usuario</label>
                <div class="input-group">
                    <input asp-for="Usuario1" type="text" class="form-control" placeholder="Cree un nombre de usuario" />
                    <div class="input-group-append"><span class="input-group-text"><i class="la la-user"></i></span></div>
                </div>
            </div>
            <div class="col-lg-4">
                <label>Contraseña</label>
                <div class="input-group">
                    <input asp-for="Clave" type="password" class="form-control" placeholder="Cree una contraseña" />
                    <div class="input-group-append"><span class="input-group-text"><i class="la la-key"></i></span></div>
                </div>
            </div>
        </div>
        <label>Estado</label>
        <div class="form-group form-check">
            <div class="col-sm-3">

                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" />Activo
                </label>
            </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-6">
                <button type="submit" value="Create" class="btn btn-success mr-2">Guardar</button>
                <button asp-action="Index" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}