@model My_Journal.Diezmo

@{
    ViewData["Title"] = "Crear Diezmo";
}

<link href="/theme-assets/css/app-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap-extended.css" rel="stylesheet" />
<link href="/theme-assets/css/colors.css" rel="stylesheet" />
<link href="/theme-assets/css/components-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/core/colors/palette-gradient.css" rel="stylesheet" />
<link href="/theme-assets/css/pages/dashboard-ecommerce.css" rel="stylesheet" />
<link href="/theme-assets/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" />
<link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="theme-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/60f66db414.js" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="/theme-assets/css/create_style.css" rel="stylesheet" />

<br />

    <div class="card-body">
        <div class="form-group row">
            <h5 class="card-title"><span class="circle_bg_text">1</span>   Agregar registro</h5>

            <div class="col-lg-5">
                <label>Descripción</label>
                <input asp-for="Descripcion" type="text" class="form-control" placeholder="Ej.  Diezmo culto dominical" />
                <span class="form-text text-muted"></span>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="col-lg-5">
                <label>Cantidad</label>
                <input asp-for="Cantidad" type="number" step="0.01" min="1" class="form-control" placeholder="Ingrese una cantidad..." />
                <span class="form-text text-muted"></span>
            </div>
            </div>
         <div class="form-group row">

            <div class="col-lg-3">
                <label>Fecha</label>
                <div class="input-group">
                    <input asp-for="FechaDiezmo" type="datetime-local" class="form-control" />
                </div>
                <span class="form-text text-muted"></span>
            </div>
            <div class="col-lg-3">
                <button id="agregarbtn" type="submit" class="btn btn-success mr-2">Agregar</button>
            </div>
            
          
                
            </div>
<br />
        <form class="form" asp-action="Create">
        <div class="form-group row">
            <h5 class="card-title"><span class="circle_bg_text">2</span>   Listado de Diezmos</h5>

            <table id="example" class="table table-striped table-bordered" style="width:100%">

                <thead>
                    <tr>

                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
@*                     @foreach (var item in Model)
                    { *@

                        <tr>
                          
                            <td>Descripcion</td>
                            <td>Cantidad</td>
                            <td>Fecha</td>

                            <td>

                                <a class="btn launch" > <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>

@*                     }
 *@                </tbody>

            </table>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" value="Create" class="btn btn-success mr-2">Agregar</button>
                        <button asp-action="Index" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
        $('#example').DataTable({
            // Atributo para hacer la tabla responsive
            responsive: true,
            // Agregar scroll a la tabla para que quepa en el contenedor
            "sScrollX": "100%",
            "sScrollXInner": "110%",
            "bScrollCollapse": true
        });
</script>