@model My_Journal.Models.Pagos.Pago
@{
    ViewData["Title"] = "Delete";
}
<h4 class="mt-5 theme-color mb-5">Registro eliminado exitosamente!</h4>
<form asp-action="Delete">
    <input type="hidden" asp-for="IdPago" />
    <input type="submit" value="Regresar" class="btn btn-success" />
</form>

